<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="d-flex flex-column min-vh-100">

<div th:replace="fragments :: navbar"></div>

<main>

    <form method="post">
        <div class="form-group">
            <label>Event Name
                <input th:field="${event.name}" class="form-control" />
            </label>
            <!--        <p class="errors" th:errors="${event.name}"></p>-->
        </div>
        <div class="form-group">
            <label>Details
                <input th:field="${event.description}" class="form-control" />
            </label>
            <!--        <p class="errors" th:errors="${event.name}"></p>-->
        </div>
        <div class="form-group">
            <label>Contact Email
                <input th:field="${event.contactEmail}" class="form-control" />
            </label>
            <!--        <p class="errors" th:errors="${event.name}"></p>-->
        </div>
                <div class="form-group">
                    <label>Event Skill Category
                        <select th:field="${event.catName}">
                            <option th:each="cat : ${categories}"
                                    th:value="${cat.id}"
                                    th:text="${cat.catName}"
                            ></option>
                        </select>
                    </label>
                    <!--            <p class="errors" th:errors="${skill.catName}"></p>-->
                </div>
        <div>
            <input type="submit" value="Create" class="btn btn-success">
        </div>
    </form>

</main>
</body>
</html>