<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="d-flex flex-column min-vh-100">

<div th:replace="fragments :: navbar"></div>

<main>

    <form method="post">


        <th:block th:each="event : ${events}">
            <div class="form-group">
                <label>
                    <span th:text="${event.name}"></span><br>
                    <input type="checkbox" name="eventIds" th:value="${event.id}" class="form-control">
                </label>
            </div>
        </th:block>
        <input type="submit" value="Delete" class="btn btn-danger">
    </form>
    <div>
        <li class="nav-link"><a th:href="@{/users/profile}">Back to Profile</a></li>
    </div>
</main>
</body>
</html>