<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="d-flex flex-column min-vh-100">

<div th:replace="fragments :: navbar"></div>

<main>


    <h1 th:text="${user.userProfile.firstName} +' '+ ${user.userProfile.lastName}"></h1>
    <p>First Name: <span th:text="${user.userProfile.firstName}"></span></p>
    <p>Last Name: <span th:text="${user.userProfile.lastName}"></span></p>
    <p>Email: <span th:text="${user.userProfile.email}"></span></p>
    <p>Phone Number: <span th:text="${user.userProfile.phoneNumber}"></span></p>
    <p>Zip Code: <span th:text="${user.userProfile.zipCode}"></span></p>
    <form class="noPaddingLeft" th:action="@{/users/edit_personal_info/{id}(id=${user.id})}" method="get">
        <button class="submit">Update Information</button>
    </form>

    <div>
        <li class="nav-link"><a th:href="@{/users/profile}">Back to Profile</a></li>
    </div>

</main>

<div th:replace="fragments :: footer"></div>

</body>
</html>
