<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="d-flex flex-column min-vh-100">

<div th:replace="fragments :: navbar"></div>
<main>
    <p>Welcome, <span th:text="${user.username}"></span></p>

    <li class="nav-link"><a th:href="@{/users/personal_info/{id}(id=${user.id})}">Personal Information</a></li>
    <li class="nav-link"><a th:href="@{/users/profile/inbox}">Inbox</a></li>
    <form method="post">
        <div class="form-group">
            <label>Filter By:
                <select th:name="tagId">
                    <option th:each="tag : ${tags}"
                            th:value="${tag.getId}"
                            th:text="${tag.tagName}"
                    ></option>
                </select>
            </label>
        </div>
        <div class="form-group">
            <input type="submit" value="Filter" class="btn btn-success">
        </div>
    </form>

    <div>
        <table class="table table-striped">
            <thead class="thead-dark">
            <tr>
                <th>Event</th>
                <th>Event Category</th>
                <th>Contact Email</th>
                <th>Description</th>
            </tr>
            </thead>
            <tr th:each="event : ${events}">
                <td><a th:href="@{/events/edit/id={id}&event={eventId}(id=${user.id}, eventId=${event.id})}" th:text="${event.name}"></a></td>
                <td th:text="${event.catName.catName}"></a></td>
                <td th:text="${event.contactEmail}"></a></td>
                <td th:text="${event.description}"></a></td>
            </tr>
        </table>
    </div>

    <div>
        <li class="nav-link"><a th:href="@{/events/create/{id}(id=${user.id})}">Add Event</a></li>
<!---->
        <li class="nav-link"><a th:href="@{/events/delete/{id}(id=${user.id})}">Remove Event</a></li>
    </div>

    <div>
        <table class="table table-striped">
            <thead class="thead-dark">
            <tr>
                <th>Skill</th>
                <th>Skill Category</th>
                <th>Tag</th>
            </tr>
            </thead>
            <tr th:each="skill : ${skills}">
                <td th:text="${skill.name}"></a></td>
                <td th:text="${skill.catName.catName}"></a></td>
                <td th:text="${skill.tagName.tagName}"></a></td>
            </tr>
        </table>
    </div>

    <div>
        <li class="nav-link"><a th:href="@{/skills/create/{id}(id=${user.id})}">Add Skill</a></li>
        <li class="nav-link"><a th:href="@{/skills/delete/{id}(id=${user.id})}">Remove Skill</a></li>
    </div>

</main>
</body>
</html>



