<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="d-flex flex-column min-vh-100">

<div th:replace="fragments :: navbar"></div>

<section class="hero-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 order-2 order-lg-1">
                <h1>Introduction Stuff</h1>
                <p class="lead">Lorem ipsum dolor sit amet, elitr aliquip discere cum an. His te ludus conceptam referrentur. Eu integre aliquando vix, bonorum evertitur mel no, ut omnesque delectus sed. Ne accusata moderatius mei, id usu dolorum democritum dissentiunt, cum in noster impedit consulatu. Agam augue civibus at sed, sed illum dolorum an.</p>
                <p><a href="/register" class="btn btn-primary shadow">Interested? Sign Up</a></p>
            </div>
            <div class="col-lg-6 order-1 order-lg-2">
                <img src="https://images.unsplash.com/photo-1606636660488-16a8646f012c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" alt="hero section image" class="img-fluid rounded">
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container mt-5 features">
        <h2 class="text-center">Title for this section if we want</h2>
        <p class="lead text-muted mb-5 text-center">Description for this section if we want</p>
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card border-0 h-100 rounded shadow-sm">
                    <img src="https://images.unsplash.com/photo-1516738901171-8eb4fc13bd20?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" alt="location image" class="card-image-top rounded">
                    <div class="card-body">
                        <h5>Location Title</h5>
                        <p class="card-text">Words and stuff and things about the location feature</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card border-0 h-100 rounded shadow-sm">
                    <img src="https://images.unsplash.com/photo-1452860606245-08befc0ff44b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" alt="browse skills image" class="card-image-top rounded">
                    <div class="card-body">
                        <h5>Skills Title</h5>
                        <p class="card-text">Words and stuff and things about the skills aspect</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card border-0 h-100 rounded shadow-sm">
                    <img src="https://images.unsplash.com/photo-1531535701800-03b2bec4fbfd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80" alt="meeting up image" class="card-image-top rounded">
                    <div class="card-body">
                        <h5>Location Title</h5>
                        <p class="card-text">Words about meeting up with people and teaching or learning</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="preview-classes mb-5">
        <div class="container">
            <h1 class="mb-3">Some Skills To Share</h1>
            <div class="row">
                <div class="col-lg-3 item">
                    <div class="card border-0 h-100 rounded shadow-sm">
                        <img src="https://images.unsplash.com/photo-1584962119638-92a71b026dee?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" alt="sewing" class="card-image-top rounded">
                        <div class="card-body">
                            <h3>Sewing</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 item">
                    <div class="card border-0 h-100 rounded shadow-sm">
                        <img src="https://images.unsplash.com/photo-1551218808-94e220e084d2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" alt="cooking" class="card-image-top rounded">
                        <div class="card-body">
                            <h3>Cooking</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 item">
                    <div class="card border-0 h-100 rounded shadow-sm">
                        <img src="https://images.unsplash.com/photo-1596495577886-d920f1fb7238?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1474&q=80" alt="math" class="card-image-top rounded">
                        <div class="card-body">
                            <h3>Math</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 item">
                    <div class="card border-0 h-100 rounded shadow-sm">
                        <img src="https://images.unsplash.com/photo-1589395937658-0557e7d89fad?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1412&q=80" alt="language" class="card-image-top rounded">
                        <div class="card-body">
                            <h3>Languages</h3>
                        </div>
                    </div>
                </div>
            </div>
            <h4 class="text-center mt-5">And many more!</h4>
        </div>
    </div>
</section>

<div th:replace="fragments :: footer"></div>

</body>
</html>



